//COLORS
$white: #ffffff;
$isabelline: #eeeded;
$spanish-gray: #989797;
$coral: #FA824C;
$buff: #f1dd78;
$vanilla: #f5e7a1;
$flame: #e4572e;
$light-red: #e87554;
$pastel-pink: #f2b2a0;
$shiny-shamrock: #4ca866;
$touquoise: #9dcfab;
$pastel-green: #bddfc7;
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;
$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;

//TYPEFACES
$mono-regular: "PT Mono", monospace;
$roboto-ligth: "Roboto", sans-serif;

//FONT SIZES
$fs1: 70px;
$fs2: 40px;
$fs3: 30px;
$fs4: 18px;
$fs5: 16px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
